{:deps    {sg.flybot/lasagna-pull    {:mvn/version "0.4.156"}
           metosin/malli             {:mvn/version "0.11.0"}
           com.cognitect/transit-clj {:mvn/version "1.0.333"}
           org.babashka/http-client  {:mvn/version "0.4.14"}}
 :aliases {:dev      {:extra-deps {robertluo/rich-comment-tests {:git/url "https://github.com/robertluo/rich-comment-tests"
                                                                 :git/tag "v1.1.0"
                                                                 :git/sha "6d01d12"}}}
           :test     {:exec-fn   com.mjdowney.rich-comment-tests.test-runner/run-tests-in-file-tree!
                      :exec-args {:dirs #{"src"}}}
           :debug    {:classpath-overrides {org.clojure/clojure nil} ;; for disabling the official compiler
                      :extra-deps          {com.github.jpmonettas/clojure        {:mvn/version "1.11.1-8"}
                                            com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.6.10"}}
                      :jvm-opts            ["-Dclojure.storm.instrumentEnable=true"
                                            "-Dclojure.storm.instrumentOnlyPrefixes=robertluo"]}
           :notebook {:extra-paths #{"dev"}
                      :extra-deps  {io.github.nextjournal/clerk {:mvn/version "0.14.919"}
                                    ring/ring                   {:mvn/version "1.11.0-alpha1"}}}}}